$color-font: #3f3a64;
$color-p-hero: #908ea5;
$btn-green: #20ad96;
$font-bottom: #6a6a6a;
$color-i-footer: #b4b4b4;
$bg-color: #e9e6e3;
$bg-white: #ffffff;
$link-color: #9693aa;
$acc-color: #62c5b5;
$color-line: #faf8f6;
$color-ticket: #f8f8f8;


$f-bold: 800;